.nails-treatments {
  font-family: "Lato", sans-serif;
  padding: 50px;
  color: #fff;
}

.nails-treatments-title {
  text-align: start;
  margin-bottom: 50px;
  margin-top: 50px;
  color: rgba(31, 41, 55, 1);
  text-shadow: 1px 1px 4px rgba(246, 246, 244, 0.96);
}

.treatment-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 100px;
}

.treatment-card {
  background: rgba(255, 255, 255, 0.8);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.treatment-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.treatment-card h3 {
  color: #0b4553;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.treatment-card p {
  margin: 5px 0;
  font-size: 0.9em;
  color: #1d1c1c;
}

.treatment-card p.price {
  font-size: 0.9em;
}

.book-btn {
  background-color: #0891b2;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 1em;
  width: 50%;
  transition: background-color 0.3s ease;
}

.book-btn:hover {
  background-color: #065f73;
}

/* Tablet (up to 1060px) */
@media screen and (max-width: 1060px) {
  .nails-treatments-title {
    font-size: 1.8em;
    margin-bottom: 20px;
  }

  .treatment-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .treatment-card {
    padding: 10px;
  }

  .treatment-card h3 {
    font-size: 1em;
  }

  .treatment-card p {
    font-size: 0.8em;
  }

  .book-btn {
    font-size: 0.9em;
    padding: 8px;
  }
}

/* Mobile (up to 600px) */
@media screen and (max-width: 600px) {
  .nails-treatments-title {
    font-size: 1.5em;
    margin-bottom: 15px;
  }

  .treatment-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }

  .treatment-card {
    padding: 8px;
  }

  .treatment-card h3 {
    font-size: 1em;
  }

  .book-btn {
    font-size: 0.8em;
    padding: 6px;
  }

  .treatment-card p {
    font-size: 0.8em;
  }
}
